/* Esto es un comentario 
Reglas: El conjunto

Selectores: uno o más elementos
-> selector de etiqueta ej ------"header", "article"
-> selector descendente, elemento
 hijo de otro elemento: ej --------"body header div ul li a"
-> selector de clase atributo 
de class (hacer referencia en html) 
ej ------- <li><a class="link" href="#home"
se hacen con "punto" ej -------- .link
-> selector id: poner atributo de id en html
y luego  ------  #nombre

declaraciones:: todo lo que etá dentro de las llave {} compuestas por propiedades y valores

propiedades:: se separan de los valores por : y de las propiedades por;

valores

Colors
azul gris ##282c33;, 
verde claro #7fa200
verde oscuro #365a00
whitesmoke;
yellowgreen
grey : #6f8b6d;

*/

* {
    margin: 0;
    margin-right: -2;
    }
body {
    font-family: "Signika", sans-serif;
    background-image: linear-gradient(to right, #365a00, #7fa200);
    height: 100%;
    color: whitesmoke;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu", sans-serif;
}

.header {
    font-family: "ubuntu", sans-serif;
    color: white;
    background-color: #282c33;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    position: fixed;
    display: flex;
}


.menu {
    width: 1000px; 
    height: 60px;
    margin: 0px 10px;
    padding: 10px 10px 5px ;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}

header a {

    color: whitesmoke;
    text-decoration: none;
    list-style: none;
}


.link {
    width: 120px;
    height: 40px;
    text-align: center;
    flex-shrink: 0;
}

.link:hover {
    font-size: 25px;
    color: white;
    
}

.logo {
    
    width: 40px;
    height: 40px;
    
}

.logo_text {
    text-transform: uppercase;
    width: auto;
    height: auto;
    text-align: right;
  

}

section {
    padding-top: 60px;
}
.hero {
    padding-top: 220px;
    padding-left: 50px;
    box-sizing: border-box;
    background-image: url('../images/hero.jpg');
    background-size: 1349px 800px;
    background-color:  whitesmoke;
    height: 800px;
    background-repeat: no-repeat;
}

h1 {
    
    color: whitesmoke;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    line-height: 1,5em;
    letter-spacing: 1px;
    text-transform: none;
      
}

.decoration_title {
    padding-top: 8px;
    margin: 0px 0px 30px 710px;
    box-sizing: border-box;
    background-color: #282c33;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 100px;
    height: 60px;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 1.5px;
}


.bio_person {
    margin: 0px 80px 90px 80px;
    padding-left: 20px;
    box-sizing: border-box;
    background-color:  #282c33;
    border-top-right-radius: 135px ;
    border-bottom-right-radius: 135px;
    width: 1189px ;
    height: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.bio_title {
    margin: 10px;
    text-align: leftt;
}

.bio_containerEquipo {
    width: 750px;
    margin: 10px 20px;
    text-align: left;
    flex-shrink: 0;
}

.bio_container {
    width: 500px;
    margin: 10px 20px;
    padding-right: 250px;
    text-align: left;
    flex-shrink: 0;
}

.bio_text {
    margin: 30px 10px;
}

.avatarEquipo {
    /* margin: -280px 830px 30px; */
    width: 330px;
    height: 330px;
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 800px;
    background-position-y: -55px;
    border-color: #7fa200 ;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%; 
    flex-shrink: 0;  
}

.avatar {
    /* margin: -260px 830px 30px; */
    width: 330px;
    height: 330px;
    background-image: url(../images/WhatsApp\ Image\ 2020-03-11\ at\ 19.07.56.jpeg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 330px;
    background-position-y: -55px;
    border-color: #7fa200 ;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;

    
}

.bar_titleService {
    margin: 0px 80px 0px 80px;
    background-color: #282c33;
    text-align: center;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}

.decoration_titleService {
    padding-top: 0px;
    margin: 0px 0px 30px 823px;
    box-sizing: border-box;
    background-color: #282c33;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 100px;
    height: 60px;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 1.5px;
}

.service_container {
    border: 2px;
    border-style: solid;
    border-color: #365a00;
    margin: 0px 80px 80px;
    border-radius: 20px;
    background-image: url(../images/logo-vertical.png);
    background-repeat: no-repeat;
    background-size: 7%;
    background-position: 40px 25px;
    padding: 15px 150px;
}

.service_list {
    list-style: none;
    font-size: 40px;
    line-height: 55px;
    
}

.list:hover {
    font-size: 50px ;
    color: whitesmoke;
}

.productions {
padding-left: 60px;
padding-bottom: 200px;
}

.decoration_titleProductions {
    padding-top: 0px;
    margin-left: 880px;
    box-sizing: border-box;
    background-color: #282c33;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 100px;
    height: 60px;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 1.5px;
}

.productions_articles {
    margin: 10px;
    display: flex;
    align-items: flex-end;
}


h3 {
    margin-bottom: 20px;
}

.productions_referenceOne {
/* background-color: #7fa200; */
    width: 300px;
    height: 300px;
    color: whitesmoke;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50% ;
    margin: -150px 90px;
    padding: 20px;
    text-align: center; 
    flex-shrink: 0;  
    border: 2px solid #282c33;
   

}



.productions_referenceTwo {
    /* background-color: #282c33; */
    width: 250px;
    height: 250px;
    color: whitesmoke;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50% ;
    margin: 0px 20px;
    padding: 20px;
    text-align: center; 
    flex-shrink: 0;  
    border: 2px solid #282c33;
}

.productions_referenceOne:hover {
    background-color: #282c33;
}
.productions_referenceThree:hover {
    background-color: #282c33;
}
.productions_referenceTwo:hover {
    background-color: #282c33;
}

.mira:hover {
    background-color: #7fa200;
}

.productions_referenceThree {
/* background-color: #365a00 ; */
    width: 200px;
    height: 200px;
    color: whitesmoke;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50% ;
    margin: -160px 60px;
    padding: 20px;
    text-align: center; 
    flex-shrink: 0;  
    border: 2px solid #282c33;
    box-sizing: border-box;

}

.productions_description {
    margin: 0px 10px 30px;
}

.productions a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid whitesmoke;
    margin-top: 20px;
    padding: 5px 20px;
    border-radius: 5px;
    
}

.contact {
        margin: 20px 0px 20px;
    height: 500px;
    background-image: url(../images/logo-black.png);
    background-size: 70px 70px;
    background-repeat: space;
}

.decoration_titleContact {
    padding-top: 0px;
    margin-left: 1050px;
    box-sizing: border-box;
    background-color: #282c33;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 100px;
    height: 60px;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 1.5px;
}


.contact_form {
    /* display: flex; */
    width: 450px;
    margin: 0 auto;
    align-items: center;
  
}


.email {
    margin-bottom: 20px;
    width: 428px;
    height: 15px;
    border-radius: 5px;
    border: 2px solid #365a00;
    background-image: url('../images/email.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 3px;
    padding: 5px 0px 5px 28px; 
}

.textarea {
    padding: 5px;
    width: 450px;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #365a00;
    border-radius: 5px;
    margin-bottom: 20px;

}

.checkbox_container {
    width: 450px;
    height: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;
   
}

.checkbox {
    display: inline;
    margin-top: px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #365a00;
}

label {
    font-size: 20px;
    padding: 5px;
}


.bottom_container {
    width: 464px;
    display: flex;
    justify-content: flex-end;
}

.bottom {
    display: block;
    font-family: "Signika", sans-serif;
    font-size: 14px;
    font-weight: bold;
    width: 120px;
    height: 40px;
    border: 1px solid #365a00;
    border-radius: 5px;
    color: #365a00;
    object-position: right;
  
}

.bottom:hover {
    background-color: #365a00;
    color: white;
}

.footer {
    background-color: #282c33;
    padding: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}


.footer_menu {
    font-size: 12px;
    margin-top: 10px;
    width: 400px;
    height: 40px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
   flex-wrap: wrap; 
}

.footer_menu a {
    text-decoration: none;
    color: whitesmoke;
}

.link_footer {
    width: 80px;
    height: 40px;
    text-align: center;
    flex-shrink: 0;
}

.social_iconContainer {
    margin-top: 10px;
    width: 150px;
    height: 40px;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

.social_icon img {
    height: 30px;
    width: 30px;
  
}
h5 {
    display: block;
    text-align: right;
    letter-spacing: 5px;
}